@font-face {
  font-family: 'work_sansblack';
  src: url('fonts/Black/worksans-black.eot');
  src: url('fonts/Black/worksans-black.eot?#iefix') format('embedded-opentype'),
       url('fonts/Black/worksans-black.woff2') format('woff2'),
       url('fonts/Black/worksans-black.woff') format('woff'),
       url('fonts/Black/worksans-black.ttf') format('truetype'),
       url('fonts/Black/worksans-black.svg#work_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'work_sansbold';
  src: url('fonts/Bold/worksans-bold.eot');
  src: url('fonts/Bold/worksans-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Bold/worksans-bold.woff2') format('woff2'),
       url('fonts/Bold/worksans-bold.woff') format('woff'),
       url('fonts/Bold/worksans-bold.ttf') format('truetype'),
       url('fonts/Bold/worksans-bold.svg#work_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'work_sansextrabold';
  src: url('fonts/ExtraBold/worksans-extrabold.eot');
  src: url('fonts/ExtraBold/worksans-extrabold.eot?#iefix') format('embedded-opentype'),
       url('fonts/ExtraBold/worksans-extrabold.woff2') format('woff2'),
       url('fonts/ExtraBold/worksans-extrabold.woff') format('woff'),
       url('fonts/ExtraBold/worksans-extrabold.ttf') format('truetype'),
       url('fonts/ExtraBold/worksans-extrabold.svg#work_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'work_sansextralight';
  src: url('fonts/ExtraLight/worksans-extralight.eot');
  src: url('fonts/ExtraLight/worksans-extralight.eot?#iefix') format('embedded-opentype'),
       url('fonts/ExtraLight/worksans-extralight.woff2') format('woff2'),
       url('fonts/ExtraLight/worksans-extralight.woff') format('woff'),
       url('fonts/ExtraLight/worksans-extralight.ttf') format('truetype'),
       url('fonts/ExtraLight/worksans-extralight.svg#work_sansextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'work_sanslight';
  src: url('fonts/Light/worksans-light.eot');
  src: url('fonts/Light/worksans-light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Light/worksans-light.woff2') format('woff2'),
       url('fonts/Light/worksans-light.woff') format('woff'),
       url('fonts/Light/worksans-light.ttf') format('truetype'),
       url('fonts/Light/worksans-light.svg#work_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'work_sansmedium';
  src: url('fonts/Medium/worksans-medium.eot');
  src: url('fonts/Medium/worksans-medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Medium/worksans-medium.woff2') format('woff2'),
       url('fonts/Medium/worksans-medium.woff') format('woff'),
       url('fonts/Medium/worksans-medium.ttf') format('truetype'),
       url('fonts/Medium/worksans-medium.svg#work_sansmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'work_sansregular';
  src: url('fonts/Regular/worksans-regular.eot');
  src: url('fonts/Regular/worksans-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Regular/worksans-regular.woff2') format('woff2'),
       url('fonts/Regular/worksans-regular.woff') format('woff'),
       url('fonts/Regular/worksans-regular.ttf') format('truetype'),
       url('fonts/Regular/worksans-regular.svg#work_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'work_sanssemibold';
  src: url('fonts/SemiBold/worksans-semibold.eot');
  src: url('fonts/SemiBold/worksans-semibold.eot?#iefix') format('embedded-opentype'),
       url('fonts/SemiBold/worksans-semibold.woff2') format('woff2'),
       url('fonts/SemiBold/worksans-semibold.woff') format('woff'),
       url('fonts/SemiBold/worksans-semibold.ttf') format('truetype'),
       url('fonts/SemiBold/worksans-semibold.svg#work_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'work_sansthin';
  src: url('fonts/Thin/worksans-thin.eot');
  src: url('fonts/Thin/worksans-thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/Thin/worksans-thin.woff2') format('woff2'),
       url('fonts/Thin/worksans-thin.woff') format('woff'),
       url('fonts/Thin/worksans-thin.ttf') format('truetype'),
       url('fonts/Thin/worksans-thin.svg#work_sansthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
